{
  "name": "GetImageText",
  "label": "[[label]]",
  "description": "[[description]]",
  "group": "",
  "artifactName": "",
  "packageVersion": "",
  "codeVersion": "",
  "author": "Abdulrazak Osman",
  "commands": []
}